


      

@font-face {
  font-family: SF Pro Display;
  src: url("SF-Pro-Display-Regular.otf");
}


@font-face {
  font-family: SF Pro Text;
  src: url("SF-Pro-Text-Regular.otf");
}

* {
    margin: 0;
    padding: 0;
    line-height: 130%;
}

html, body {
    box-sizing: border-box;
    color: #1E1E12;
    background: #fff;
    scroll-behavior: smooth;
    font-family: SF Pro Text, sans-serif;
}

a {
    text-decoration: none;
}

button {
    background: #0071E3;
    color: #fff;
    border: none;
    border-radius: 980px;
    cursor: pointer;
}

button:hover {
    background: #147ce5;
}

button:active {
    background: #0068d1;
}

button.small {
    padding: 4px 11px;
    font-size: 12px;
}

button.normal {
    padding: 8px 16px;
    font-size: 17px;
}

.accent-blue {
/*  color: #01A9F4; */
    background: -webkit-linear-gradient(#01A9F4, #B5E8FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.accent-white {
	/*  color: #01A9F4; */
	background: -webkit-linear-gradient(white, white, #b6babe);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
.accent-fishers {
    
        background: -webkit-linear-gradient(#967259, #ece0d1);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
.accent-fishers {
        background: -webkit-linear-gradient(#ea0029, #b6babe);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

.accent-cup {
    background: -webkit-linear-gradient(#BAB6BC, #5B5B63);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h1 {
    font-size: 96px;
    /* max-width: 60%; */
    text-align: center;
    font-family: 'SF Pro Display', sans-serif;
    font-weight: bold;
}

h2 {
    font-size: 64px;
    font-family: 'SF Pro Display', sans-serif;
    font-weight: bold;
}

h3 {
    font-size: 28px;
    font-weight: 500;
    font-family: 'SF Pro Display', sans-serif;
    font-weight: bold;
}

h4 {
    font-size: 48px;
    font-weight: bold;
    font-family: 'SF Pro Display', sans-serif;
}

h5 {
    font-size: 17px;
}

h6 {
    font-size: 24px;
    font-weight: 600;
    font-family: 'SF Pro Display', sans-serif;
}


section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10%;
    gap: 122px;
}

section .feature {
    display: flex;
    gap: 22px;
    align-items: center;
    max-width: 90%;
}

section .feature.alt {
    flex-direction: row-reverse;
}

section .feature img {
    width: 50%;
}

nav {
    background: #333333;
    display: flex;
    width: 100%;
    height: 44px;
    gap: 3%;
    align-items: center;
    justify-content: center;
}

nav .hamburger {
    display: none;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    width: 20px;
    height: 20px;
}

nav .hamburger .line {
    width: 100%;
    height: 1px;
    background: #f5f5f7;
}

nav a {
    color: #f5f5f7;
    font-size: 12px;
    opacity: .8;
    transition: opacity 0.3s;
}

nav a:hover {
    opacity: 1;
}

nav svg {
    cursor: pointer;
}

nav svg path {
    transition: fill 0.3s;
}

nav svg:hover path {
    fill: #fff; 
}

nav a.apple-logo {
    font-size: 22px;
}

.local-nav-wrapper {
    border-bottom: 1px solid #fff1ff;
    position: sticky;
    top: 0;
    width: 100%;
    background: #fff;
    backdrop-filter: saturate(180%) blur(20px);
    z-index: 100;
}

.local-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1000px;
    padding-top: 18px;
    padding-bottom: 18px;
    margin-left: auto;
    margin-right: auto;
}

.local-nav h4 {
    color: #ffffff;
    font-size: 21px;
    font-weight: 600;
}

.local-nav .right {
    display: flex;
    gap: 22px;
    align-items: center;
}

.local-nav svg {
    width: 30px;
    display: none;
    transform: scaleX(1.2);
}

.local-nav .right a {
    color: #000;
    font-size: 12px;
}

.local-nav .right a:hover {
    color: #06c;
}

.local-nav .right a.active {
    opacity: .56;
}

.landing {
    background-image: url('Files/fhsbg.png');
    background-size: cover; /* Adjusts the image to cover the entire section */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    display: flex;
    gap: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
}

.landing .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 13px;
}

.landing .text h4 {
    font-size: 24px;
    font-weight: 600;
}


.landing .text p {
    color: #86868B;
    font-size: 14px;
}

.landing .chip-container {
    display: flex;
    gap: 14px;
    align-items: center;
}

.landing .chip-container h3 {
    color: #86868B;
}



.science {
    background: #000;
    color: #F4F4F6;
}

.science .blue {
    color: #01A9f4;
    background: -webkit-linear-gradient(#01A9F4, #B5E8FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.science .red {
/*  color: #EF121B; */
    background: -webkit-linear-gradient(#EF121B, #e78285);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.science .purple {
/*  color: #FFFF00; */
    background: -webkit-linear-gradient(#d110ca, #e586e2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.science .orange {
/*  color: #FFFF00; */
    background: -webkit-linear-gradient(#FFA500, #ffe0a5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.science .yellow {
/*  color: #FFFF00; */
    background: -webkit-linear-gradient(#FFFF00, #ffffb8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



.colors {
    background: #F5F5F7;
}

.colors h1 .gradient {
/*  background: linear-gradient(90deg, #01A9F4 0.21%, #002030 27.4%, #EBF6FF 48.46%, #9F9BF4 76.37%, #E16D31 102.89%); */

    background: linear-gradient(90deg, #01A9F4 0.21%, #002030 27.4%, #EBF6FF 48.46%, #9F9BF4 76.37%, #E16D31 102.89%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.colors .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    gap: 44px;
}

.colors .container > * {
    background: #fff;
    border-radius: 30px;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.colors .container .left {
    gap: 44px;
}

.colors .container .right {
    flex-direction: column;
    gap: 44px;
    background: transparent;
}

.colors .container .right > * {
    width: 100%;
    height: 50%;
    background: #fff;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.colors .container .left .colors-picker {
    display: flex;
    flex-direction: column;
    gap: 11px;
}

.colors .container .left .colors-picker .color-container {
    display: flex;
    flex-direction: column;
    gap: 7px;
    justify-content: center;
    align-items: center;
}

.colors .container .left .colors-picker .color-container p {
    font-size: 12px;
}

.colors .container .left .colors-picker .color-container .color {
    border-radius: 50%;
    width: 32px;
    height: 32px;
    box-shadow: 0px 0px 1px 1px #0000001A inset;
}

.colors .container .left .colors-picker .color-container .color.blue {
    background: #01A9F4;
    outline: 2px solid #0071E3;
    outline-offset: 2px;
}
    
.colors .container .left .colors-picker .color-container .color.midnight {
    background: #002030;
}
    
.colors .container .left .colors-picker .color-container .color.ice {
    background: #EBF6FF;
}
    
.colors .container .left .colors-picker .color-container .color.purple {
    background: #9F9BF4;
}
    
.colors .container .left .colors-picker .color-container .color.orange {
    background: #E16D31;
}


.sizes {
    background: #F5F5F7;
}

.sizes h1 .letter-container {
    display: inline-flex;
    gap: 1px;
    align-items: center;
    position: relative;
    top: -20px;
}

.sizes h1 .mini {
    color: #01A9F4;
    font-size: 63px;
}
    
.sizes h1 .regular {
    color: #0A97D6;
    font-size: 83px;
}
    
.sizes h1 .pro {
    color: #0C8AC2;
    font-size: 103px;
}
    
.sizes h1 .max {
    color: #0C74A3;
    font-size: 123px;
}
    
.sizes h1 .ultra {
    color: #085A7E;
    font-size: 143px;
}

.sizes .container {
    display: flex;
    gap: 80px;
}

.sizes .container .size {
    display: flex;
    flex-direction: column;
    gap: 22px;
    align-items: center;
    justify-content: center;
}

.sizes .container .size.mini img {
    width: 46px;
}

.sizes .container .size.regular img {
    width: 104px;
}

.sizes .container .size.pro img {
    width: 143px;
}

.sizes .container .size.max img {
    width: 188px;
}
    
.sizes .container .size.ultra img {
    width: 266px;
}

.sizes .floating .bottle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sizes .floating .bottle.mini h1 {
    font-size: 63px;
    color: #01A9F4;
}

.sizes .floating .bottle.regular h1 {
    font-size: 63px;
    color: #0A97D6;
}

.sizes .floating .bottle.pro h1 {
    font-size: 103px;
    color: #0C8AC2;
}

.sizes .floating .bottle.max h1 {
    font-size: 123px;
    color: #0C74A3;
}
    
.sizes .floating .ultra h1 {
    font-size: 143px;
    color: #085A7E;
}

.fits-in-life {
    padding: 20%;
    padding-left: 0;
    padding-right: 0;
}

.fits-in-life .full-images {
    display: flex;
    flex-direction: column;
    gap: 0;
    width: 100%;
}

.fits-in-life img {
    width: 100%;
}

.w1 {
    background: #000;
    color: #D6D6D7;
}

.w1 .top {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.w1 .top img:last-child {
    margin-top: -50px;
}

.w1 .header {
    display: flex;
    gap: 10px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
}

.w1 .header .right {
    display: flex;
    align-items: center;
}

.w1 .header h2:first-child {
  background: -webkit-linear-gradient(#01A9F4, #B5E8FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    text-align: center;
    display: flex;
    gap: 8px;
}
    
.w1 .header h1:last-child {
  color: #E2E4F5;
}

.w1 .header img {
    width: 30%;
}

.w1 .chip {
    width: 50%;
}
    
.w1 .containers {
    display: flex;
    flex-direction: column;
    gap: 44px;
}

.w1 .container, .w1 .container-double {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #333336;
    padding: 93px 117px;
    border-radius: 30px;
    gap: 45px;
}

.w1 .container img {
    margin-top: -200px;
    z-index: 1;
}

.w1 .container .stats {
    display: flex;
    gap: 80px;
    width: 100%;
    justify-content: left;
}

.w1 .container .stats .stat {
    display: flex;
    flex-direction: column;
}

.w1 .container .stats .stat h2 {
  background: -webkit-linear-gradient(#01A9F4, #B5E8FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.w1 .container .stats .stat h5 {
    color: #D6D6D7;
    font-weight: 600;
}
    
.w1 .container-double {
    flex-direction: row;
    background: none;
    gap: 44px;
    padding: 0;
}

.w1 .container-double .inner {
    background: #333336;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 46px;
    width: 50%;
    height: 490px;
}

.w1 .container h1, .w1 .inner h4 {
    background: -webkit-linear-gradient(#01A9F4, #B5E8FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    text-align: center;
    z-index: 2;
}

.w1 .container h1 {
    z-index: auto !important;
}

.w1 .container-double .inner img {
    margin-top: -130px;
    z-index: 1;
}

.apple-cup .header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.apple-cup .header h1 {
    background: -webkit-linear-gradient(#BAB6BC, #5B5B63);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.apple-cup img.one {
    transform: rotate(-12.35deg);
}

.apple-cup img.two {
    transform: rotate(14.63deg);
}

.apple-cup img.three {
    transform: rotate(-20.21deg);
}

.apple-cup .image-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.apple-cup .big {
    width: 100%;
}

.how h1 {
    display: flex;
    gap: 20px;
}

.how .left {
    display: flex;
    align-items: flex-start;
}
    
.how .right {
    display: flex;
    align-items: flex-end;
}

.how h1 .left span:nth-child(1) {
    font-size: 56px;
    color: #DBDBDA;
}
    
.how h1 .left span:nth-child(2) {
    font-size: 66px;
    color: #BDBDB9;
}

.how h1 .left span:nth-child(3) {
    font-size: 76px;
    color: #A0A09B;
}
    
.how h1 .left span:nth-child(4) {
    font-size: 86px;
    color: #8C8C86;
}
    
.how h1 .left span:nth-child(5) {
    font-size: 96px;
    color: #686860;
}
    
.how h1 .right span:nth-child(5) {
    font-size: 56px;
    color: #DBDBDA;
}
    
.how h1 .right span:nth-child(4) {
    font-size: 66px;
    color: #8C8C86;
}

.how h1 .right span:nth-child(3) {
    font-size: 76px;
    color: #A0A09B;
}
    
.how h1 .right span:nth-child(2) {
    font-size: 86px;
    color: #8C8C86;
}
    
.how h1 .right span:nth-child(1) {
    font-size: 96px;
    color: #686860;
}

.how h1 > span {
    background: -webkit-linear-gradient(359deg, #45453b, #000, #45453b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.how .feature:first-child img {
    width: 30%;
}


.touch-id {
    background: #000;
    color: #D6D6D7;
}

.touch-id .feature:first-child img {
    width: 20%;
}

.touch-id .feature:last-child img {
    width: 40%;
}
    
.touch-id .container {
    display: flex;
    gap: 44px;
}

.touch-id .container .inner {
    position: relative;
    
    background: #333336;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 46px;
    width: 50%;
    gap: 44px;
/*  height: 490px; */
}

.touch-id .container .inner > *:not(img) {
    z-index: 2;
}

.touch-id .container .inner h4, .touch-id h1 {
    background: -webkit-linear-gradient(#F46487, #F0375D);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.touch-id .container .inner img {
    position: absolute;
}

.touch-id .container .inner img.t-l {
    top: 0;
    left: 0;
}
    
.touch-id .container .inner img.b-c {
    bottom: 0;
    left: 50%;
}
    
.touch-id .container .inner img.t-c {
    top: 0;
    left: 50%;
}
    
.touch-id .container .inner img.b-r {
    bottom: 0;
    right: 0;
}
    

.end {
    background: #F5F5F7;
    padding: 10% 5%;
}

.end .boxes {
    display: flex;
    flex-direction: column;
    gap: 44px;
    align-items: center;
}

.end .container {
    display: flex;
    height: 500px;
    justify-content: left;
    align-items: center;
    background: #fff;
    border-radius: 30px;
    padding: 46px;
    position: relative;
    font-size: 19px;
    max-width: 100%;
}

.end .container .text {
    display: flex;
    gap: 22px;
    flex-direction: column;
    width: 50%;
}

.end .container.earth h4 {
    color: #03A10E;
}

.end .link-container .size  .chevron {
    font-size: 10px; 
}
    
.end .container > img {
    position: absolute;
    right: 0;
    width: 30%;
    bottom: 0;
    margin-right: 46px;
    max-height: 90%;
}
    
.end .container.earth > img {
    width: 45%;
    right: 0;
    position: absolute;
    margin-right: 0;
}

.end .container.trade > img {
    width: 40%;
/*  max-height: revert; */
}

.end .container .text img:not(.link-container img) {
    width: 62px;
}

.end .grid {
    display: flex;
    flex-direction: column;
    gap: 44px;
}

.end .grid .row {
    display: flex;
    gap: 44px;
}

.end .grid .row .inner {
    display: flex;
    justify-content: left;
/*  align-items: center; */
    background: #fff;
    border-radius: 30px;
    padding: 46px;
    flex-direction: column;
    gap: 23px;
    width: 50%;
    font-size: 19px;
}

.end .grid .row .inner .header {
    display: flex;
    gap: 8px;
    algin-items: center;
}

.end .grid .row .inner.safety h4 {
    color: #FF0000;
}

.end .grid .row .inner.accessibility h4 {
    color: #007AFF;
}

.end .grid .row .inner .text {
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.link-container {
/*  display: flex;
    align-items: center; */
    color: #0071E3;
    cursor: pointer;
}
    
.link-container span:first-child:hover {
    text-decoration: underline;
}

.link-container .chevron {
    font-size: 14px;
}

.end .which {
    flex-direction: column;
    height: auto;
}

.end .which .sizes {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: flex-end;
    background: none;
}

.end .which .sizes .size {
    display: flex;
    flex-direction: column;
    gap: 22px;
    justify-content: center;
    align-items: center;
}

.end .which .sizes .size.mini {
    width: 200px;
}
    
.end .which .sizes .size.mini img {
    width: 30px;
}
    
.end .which .sizes .size.classic img {
    width: 50px;
}
    
.end .which .sizes .size.pro img {
    width: 80px;
}
    
.end .which .sizes .size.max img {
    width: 110px;
}
    
.end .which .sizes .size.ultra img {
    width: 150px;
}

.end .which .sizes .size .middle {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.end .which .sizes .size .middle .inner {
    display: flex;
    flex-direction: column;
    gap: 4px;
    justify-content: center;
    align-items: center;
}

.end .which .sizes .size .middle .inner p {
    font-size: 17px;    
    text-align: center;
}

.end .which .sizes .size .bottom p.price {
    font-size: 14px;    
}

.end .which .sizes .size .link-container span:first-child {
    font-size: 14px;    
}
    
.end .which .sizes .size .middle .colors {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8px;
    background: none;
}

.end .which .sizes .size .middle .colors .row {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
}

.end .which .sizes .size .middle .colors .color {
    border-radius: 50%;
    width: 14px;
    height: 14px;
    box-shadow: 0px 0px 1px 1px #0000001a inset;
}

.end .which .sizes .size .middle .colors .color.blue {
    background: #01A9F4;
}

.end .which .sizes .size .middle .colors .color.black {
    background: #002030;
}

.end .which .sizes .size .middle .colors .color.white {
    background: #E9F4FD;
}

.end .which .sizes .size .middle .colors .color.purple {
    background: #9F9BF4;
}
    
.end .which .sizes .size .middle .colors .color.orange {
    background: #E16D31;
}
    
.end .which .sizes .size .middle .colors .color.yellow {
    background: #FFD700;
}
    
.end .which .sizes .size .middle .colors .color.pink {
    background: #FFC0CB;
}
    
.end .which .sizes .size .middle .colors .color.darkgreen {
    background: #008000;
}
    
.end .which .sizes .size .middle .colors .color.cyan {
    background: #00FFFF;
}
    
.end .which .sizes .size .middle .colors .color.gray {
    background: #808080;
}
        
.end .which .sizes .size .middle .colors .color.darkpurple {
    background: #800080;
}
        
.end .which .sizes .size .middle .colors .color.hotpink {
    background: #FF00FF;
}
        
.end .which .sizes .size .middle .colors .color.red {
    background: #FF0000;
}
        
.end .which .sizes .size .middle .colors .color.brightyellow {
    background: #FFFF00;
}
        
.end .which .sizes .size .middle .colors .color.beige {
    background: #F5F5DC;
}
    
.end .which .sizes .size .bottom {
    display: flex;
    flex-direction: column;
    gap: 14px;
    justify-content: center;
    align-items: center;
}
    
.end .which .sizes .size .bottom .money {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.end .which .sizes .size hr {
    background: #D2D2D8;
    border: none;
    height: 1px;
    width: 100%;
}
    
.end .which .links {
    display: flex;
    gap: 32px;
    margin-top: 74px;
}

.end .which .links .link-container span {
    font-size: 21px;
}

.end .which .links .link-container span:last-child {
    font-size: 17px;
}

.end .last-boxes {
    display: flex;
    gap: 44px;
}

.end .last-boxes .last-box {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    background: #fff;
    border-radius: 30px;
    padding: 46px;
    flex-direction: column;
    gap: 40px;
    width: 50%;
    font-size: 17px;
}

.end .last-boxes .last-box .top {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.end .last-boxes .last-box .main {
    display: flex;
    flex-direction: column;
    gap: 13px;
    align-items: center;
}

.end .last-boxes .last-box h4, .end .last-boxes .last-box p {
    text-align: center; 
}

.end .last-boxes .last-box button {
    width: 71px;
    height: 36px;
    font-size: 17px;
}

.end .last-boxes .last-box:first-child {
    position: relative;
}

.end .last-boxes .last-box:first-child img {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
}

.end .last-boxes .last-box:last-child img {
    width: 80%;
}




@media only screen and (min-width: 1400px) {
  .end .container {
        width: 1300px;
    }

    .end .grid, .end .grid .row, .end .last-boxes {
        width: 1392px;
    }
}

@media only screen and (max-width: 1000px) {
    body {
        overflow-x: hidden;
    }
    
    nav {
        justify-content: space-between;
        padding-left: 22px;
    padding-right: 22px;
    width: calc(100% - 44px);
    }
    
    nav a:not(.apple-logo), nav svg:not(nav > svg:last-child) {
        display: none;
    }

    nav .hamburger {
        display: flex;
    }

    .local-nav {
        width: 95%;
    }

    .local-nav .right a {
        display: none;
    }

    .local-nav svg {
        display: block;
    }

    .landing h2 {
        text-align: center;
    }

    .landing .chip-container {
        flex-direction: column;
        text-align: center;
        width: 70%;
    }

    .landing .chip-container img {
        width: auto;
    }

    section {
        padding: 20% 5%;
        gap: 61px;
    }

    .landing img {
        width: 100%;
    }
        
    h1 {
        font-size: 80px;
    }
    
    h2 {
        font-size: 56px;
    }
    
    h3 {
        font-size: 20px;
    }
    
    h4 {
        font-size: 40px;
    }
    
    h5 {
        font-size: 15px;
    }
    
    h6 {
        font-size: 20px;
    }

    section .feature, section .feature.alt {
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

    .colors {
        with: 100%; 
    }

    .colors .bottle-spin-container img {
        width: 100%;        
    }
    
    .colors .container {
        height: auto;
        flex-direction: column;
    }

    .colors .container .left {
        padding: 22px;
        width: 90%;
    }

    .colors .container .right {
        width: 100%;
    }

    .colors .container .right > * {
        width: 90%;
        padding: 22px;
    }

    .colors .container .left img, .colors .container .right > * img {
        width: 30%;
    }

    .sizes {
        gap: 0;
    }

    .sizes .container { 
        transform: scale(0.7);
    }

    .sizes .floating .bottle {
        flex-direction: column;
    }

    .sizes .floating {
/*      transform: scale(0.7); */
    }

    .design .feature img {
        width: 50%;
    }

    .w1 .containers {
        width: 100%;
        padding: 40px;
    }

    .w1 .container .stats {
        flex-direction: column;
        gap: 40px;
/*      align-items: center; */
    }

    .w1 .container img {
        width: 90%;
        margin-top: -30%;
    }

    .w1 .container-double {
        flex-direction: column;
        width: 100%;
        padding: 0;
    }

    .w1 .container-double .inner {
        width: calc(100% - 92px);
        height: 330px;
    }

    .apple-cup img {
        width: 70% !important;
    }

    .apple-cup .big {
        width: 100% !important;
    }

    .touch-id .container {
        flex-direction: column;
    }

    .touch-id .container .inner {
        width: calc(100% - 92px);
    }

    .touch-id .container .inner img.t-c {
        left: 0;
    }

    .end .boxes {
        width: 100%;
    }

    .end .container {
        flex-direction: column;
        gap: 44px;
        width: calc(100% - 92px);
        height: auto;
    }

    .end .container .text {
        align-items: center;
        text-align: center;
        width: 100%;
    }

    .end .container > img {
        position: relative;
        bottom: -46px;
        margin-right: 0;
    }

    .end .container.earth > img {
        width: 80%;
        position: relative;
    }

    .end .grid .row {
        width: 100%;
        flex-direction: column;
    }

    .end .grid .row .inner {
        width: calc(100% - 92px);
    }

    .end .which .sizes {
        flex-direction: column;
        align-items: center;
    }

    .end .which .links {
        flex-direction: column;
        gap: 10px;
        margin-top: 40px;
        align-items: center;
    }

    .end .last-boxes {
        width: 100%;
        flex-direction: column;
    }

    .end .last-boxes .last-box {
        width: calc(100% - 92px);
    }

    footer .footer-features {
        flex-wrap: wrap;
        width: 100%;
    }

    footer .boring .links {
        flex-direction: column;
        gap: 44px;
    }

    .end .last-boxes .last-box:first-child img {
        position: relative;
        left: -46px;
    }

    .how img {
        width: 30%;
    }

    .touch-id .feature > img {
        width: 50%;
    }

    .display .feature > img {
        width: 50%;
    }

    .w1 .container, .w1 .container-double {
/*      padding: 44px; */
    }

    .w1 .top img:last-child {
        width: 100%;
    }

    .floating .bottle.mini img {
        width: 30%;
    }

    .floating .bottle.regular img {
        width: 40%;
    }

    .floating .bottle.pro img {
        width: 40%;
    }

    .floating .bottle.max img {
        width: 60%;
    }

    .floating .bottle.ultra img {
        width: 70%;
    }

    footer .footer-features .footer-feature {
        min-width: 400px;
    }
}


@media only screen and (max-width: 600px) {
    section .feature img {
    width: 100%;
    }
    
    .colors .container .left {
        width: 70%;
    }

    .colors .container .right > * {
        width: 70%;
    }

    .colors .container .left img, .colors .container .right > * img {
        width: 60%;
    }

    .sizes .container {
        display: none;
    }
    
    .fits-in-life h1, .fits-in-life h3 {
        padding: 32px;
    }
    
    .w1 .header h2:first-child {
        flex-direction: column;
        gap: 0;
    }

    .w1 .container .stats {
        flex-direction: column;
        gap: 40px;
    }

    .w1 .container-double {
        flex-direction: column;
        width: 100%;
        padding: 0;
    }

    .w1 .container-double .inner {
        width: calc(100% - 92px);
        padding-bottom: 0;
        padding-top: 44px;  
    }

    .touch-id img {
        width: 50%;
    }

    .how h1 {
        flex-direction: column;
        gap: 0;
    }

    .how img {
        width: 50% !important;
    }

    footer .footer-features {
        flex-direction: column;
        width: 100%;
    }

    footer .footer-features .footer-feature {
        width: 100%;
    }

    footer .boring .bottom .legal {
        flex-direction: column-reverse;
        gap: 12px;
    }

    footer .boring .bottom .legal .left {
        flex-direction: column;
        gap: 10px;
    }

    footer .footer-features .footer-feature {
        min-width: 100%;
    }
}
.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1em;
    background-color: #ea0029; /* Blue color */
    color: white;
    border: none;
    border-radius: 20px; /* Squarcle shape with rounded corners */
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

/* Hover effect for the button */
.button:hover {
    background-color: #ece0d1; /* Darker blue on hover */
	color: black;
    transform: scale(1.05); /* Slight zoom on hover */
}


footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10%;
    gap: 50px;
    background: #F5F5F7;
    padding-bottom: 21px;
    padding-top: 0;
}

.footer .footer-features-wrapper {
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
}

footer .footer-features {
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: flex-start;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

footer .footer-features .footer-feature {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    width: 33%;
    text-align: center;
}

footer .footer-features .middle {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}

footer .footer-features h5 {
    font-size: 19px;
}

footer .footer-features p {
    font-size: 14px;
}

footer .footer-features-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
}

footer .footer-features + hr {
    height: 1px;
    width: 100%;
    background: #D2D2D8;
/*  margin-top: 50px; */
    border: none;
}


footer .boring {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 34px;
}

footer .boring .top {
    display: flex;
    flex-direction: column;
    gap: 17px;
}

footer .boring .path {
    display: flex;
    gap: 11px;
}

footer .boring .path .apple-logo {
    width: 14px;
    height: 18px;
}

footer .boring .path .chevron {
    width: 9px;
    height: 20px;
}

footer .boring .path p {
    color: #424245;
    font-weight: 600;
    font-size: 12px;
}
    
footer .boring .links {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

footer .boring .links .column {
    display: flex; 
    flex-direction: column;
    gap: 18px;
}

footer .boring .links .column .inner {
    display: flex; 
    flex-direction: column;
    gap: 9px;
}

footer .boring .links .column .inner p:not(.header) {
    font-size: 12px;
    color: #424245;
    cursor: pointer;
    width: fit-content;
}

footer .boring .links .column .inner p:not(.header):hover {
    text-decoration: underline;
}
    
footer .boring .links .column .inner .header {
    font-size: 12px;
    color: #000;
    font-weight: 600;
}
    
footer .boring .bottom {
    display: flex;
    gap: 7px;
    flex-direction: column;
    width: 100%;
}

footer .boring .bottom p {
    color: #6E6E73;
    font-size: 12px;
}

footer .boring .bottom p .link-colored {
    color: #0071E3;
}
    
footer .boring .bottom p .link-colored:hover {
    text-decoration: none;
}

footer .boring .bottom hr {
    height: 1px;
    width: 100%;
    background: #D2D2D8;
    border: none;
}

footer .boring .bottom .legal {
    display: flex;
    justify-content: space-between;
}

footer .boring .bottom .legal .left {
    display: flex;
    gap: 50px;
}
    
footer .boring .bottom .legal .left .legal-links {
    display: flex;
    gap: 10px;
}

footer .boring .bottom .legal .left .legal-links p {
    color: #424245;
}

footer .boring .bottom .legal .left .legal-links .seperator {
    width: 1px;
    height: 100%;
    background: #D2D2D8;
}

.local-nav-wrapper {
    padding-top: 5px; /* Adds space above the entire nav wrapper */
}


.local-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
}

.local-nav .logo {
    height: 80px; /* Adjust the size as needed */
    width: auto;
    padding-top: 5px; /* Adds space above the logo */
    margin-top: 10px; /* Adds more space if needed */
    max-width: 100%; /* Ensures it scales properly */
}

.local-nav .right {
    display: flex;
    align-items: center;
}


.background-section {
    background-image: url('Files/image-removebg-preview.png');
    background-size: cover; /* Adjusts the image to cover the entire section */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
}

.iframe-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80vh; /* Adjust the height as needed */
    padding: 20px;
}

.iframe-container iframe {
    width: 100%;
    height: 100%;
    max-width: 960px; /* Optional: sets a max width */
    border: none;
}


